.venv
.vscode
*.egg-info
.pytest_cache
.ruff_cache
__pycache__
.coverage
examples
dist
build
.cache
.idea
cmake-build-*
*.so
out
compile_commands.json
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
_deps/
cmake_install.cmake
cmake_test_discovery_*.json
leaky_tests
leaky_tests*_include.cmake
leaky_tests*_tests.cmake
lib/
